{{!-- Index Route --}}

{{!-- Hero Section --}}
<div class="section section--hero">
  <div class="container">
    <div class="hero">
      <h2 class="hero__message">Rehearsal Finder is a tool to connect musicians with inspirational environments in which to create.</h2>
    </div>
  </div>
</div>

{{!-- Featured Spaces Section --}}
<div class="section section--featured-spaces">
  <div class="container">

    <div class="featured-spaces">

      <h2 class="section__heading">Browse dozens of spaces in your area</h2>

      {{!-- ITS A GRID, BABY --}}
      <div class="grid">
        {{#space-card}}{{/space-card}}
        {{#space-card}}{{/space-card}}
        {{#space-card}}{{/space-card}}
        {{#space-card}}{{/space-card}}
      </div>
    </div>
  </div>
</div>


{{!-- Sign Up Form Section --}}
<div class="section">
  <div class="container">

    <div class="sign-up">
      <h2 class="section__heading">Find your creative space!</h2>
      <div class="card card--form">
        <div class="form">
          <h3 class="form__heading">Sign Up!</h3>
          <form>
            <p class="form__control">
              {{input class="form__control" placeholder="First Name" type="text"}}
            </p>
            <p class="form__control">
              {{input class="form__control" placeholder="Last Name" type="text"}}
            </p>
            <p class="form__control">
              {{input class="form__control" placeholder="Email" type="text"}}
            </p>
            <p class="form__control">
              {{input class="form__control" placeholder="Password" type="password"}}
            </p>
            <p class="form__control">
              {{input class="form__control" placeholder="Confirm Password" type="password"}}
            </p>
            <button class="button">Submit</button>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>
