<div class="detail">
  {{!-- Info --}}
  <div class="detail__info">
    <div class="detail__info--heading">
      <h2>{{model.name}}</h2>
      <h4>{{model.streetAddress}} {{model.city}}, {{model.state}}</h4>
    </div>

    <div class="detail__info--item">
      <h3>The Space</h3>
      <p>{{model.description}}</p>
    </div>

    <div class="detail__info--item">
      <h3>Equipment</h3>
      <ul class="perks-list">
        {{#each model.availableEquipment as |item|}}
          <li class="perks-list__item">{{item}}</li>
        {{/each}}
      </ul>
    </div>

    <div class="detail__info--item">
      <h3>Amenities</h3>
      <ul class="perks-list">
        {{#each model.amenities as |item|}}
          <li class="perks-list__item">{{item}}</li>
        {{/each}}
      </ul>
    </div>

    <div class="detail__info--item">
      <h3>Rules</h3>
      <p>{{model.rules}}</p>
    </div>

    <div class="detail__info--item">
      <h3>The Host</h3>
      <ul class="perks-list">
        <li class="perks-list__item">{{model.spaceHostName}}</li>
        <li class="perks-list__item">
          Email: <a href="mailto:{{model.hostEmail}}">{{model.hostEmail}}</a>
        </li>
        <li class="perks-list__item">
          Phone: <a href="tel:{{model.hostPhone}}">{{model.hostPhone}}</a>
        </li>
      </ul>
    </div>

  </div>
</div>
