{{outlet}}

<div class="card--form">
  <div class="form">
    <h3 class="form__heading">Sign Up!</h3>
    <form>
      <p class="form__control">{{input placeholder="First Name" type="text"}}</p>
      <p class="form__control">{{input placeholder="Last Name" type="text"}}</p>
      <p class="form__control">{{input placeholder="Email" type="text"}}</p>
      <p class="form__control">{{input placeholder="Password" type="password"}}</p>
      <p class="form__control">{{input placeholder="Confirm Password" type="password"}}</p>
      <button class="btn btn--submit">Submit</button>
    </form>
  </div>
</div>
