<div class="card--form">
  <div class="form">
    <h3 class="form__heading">Add a New Rehearsal Space</h3>
    {{#with (changeset model validator) as |forms|}}
      <form method="post" {{action "createNewSpace" forms on="submit"}}>
        <p class="form__control">
          <label>Name</label>
          {{input value=forms.name placeholder="Space Name" type="text"}}
        </p>
        <p class="form__control">
          <label>Street Address</label>
          {{input value=forms.streetAddress placeholder="Street Address" type="text"}}
        </p>
        <p class="form__control">
          <label>City</label>
          {{input value=forms.city placeholder="City" type="text"}}
        </p>
        <p class="form__control">
          <label>State</label>
          {{input value=forms.state placeholder="State" type="text"}}
        </p>
        <p class="form__control">
          <label>Cost Per Hour</label>
          {{input value=forms.costPerHour placeholder="Cost Per Hour" type="text"}}
        </p>
        <p class="form__control">
          <label>Square Feet</label>
          {{input value=forms.squareFeet placeholder="Square Feet" type="text"}}
        </p>
        <p class="form__control">
          <label>Amenities</label>
          {{input value=forms.amenities placeholder="Amenities" type="text"}}
        </p>
        <p class="form__control">
          <label>Available Equipment</label>
          {{input value=forms.availableEquipment placeholder="Available Equipment" type="text"}}
        </p>
        <p class="form__control">
          <label>Host Name</label>
          {{input value=forms.spaceHostName placeholder="Host Name" type="text"}}
        </p>
        <p class="form__control">
          <label>Host Email</label>
          {{input value=forms.hostEmail placeholder="Host Email" type="text"}}
        </p>
        <p class="form__control">
          <label>Host Phone</label>
          {{input value=forms.hostPhone placeholder="Host Phone Number" type="text"}}
        </p>
        <p class="form__control">
          <label>Featured</label>
          {{input value=forms.featured placeholder="Featured?" type="text"}}
        </p>
        <p class="form__control">
          <label>Description</label>
          {{textarea value=forms.description placeholder="Description"}}
        </p>
        <p class="form__control">
          <label>Rules</label>
          {{textarea value=forms.rules placeholder="Rules"}}
        </p>
        <p class="form__control">
        {{#file-picker action=(action (mut changeset.spaceImg))}}
          Upload
        {{/file-picker}}
        </p>
        <button class="btn btn--submit" type="submit">Submit</button>
      </form>
    {{/with}}
  </div>
</div>
