{{!-- REHEARSAL SPACE DETAIL ROUTE --}}
{{!-- Hero / Slider --}}
<div class="section section--hero">
  <div class="container">
    <div class="hero slider">
      {{!-- This is gonna be an image carousel or something slidey with different pics! --}}
    </div>
  </div>
</div>

{{!-- Detail --}}
<div class="section">
  <div class="container">

    <div class="detail">
      {{!-- Info --}}
      <div class="detail__info">
        <div class="detail__info--heading">
          <h2>Space Name</h2>
          <h4>Area - Location</h4>
        </div>

        <div class="detail__info--space">
          <h3>The Space</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit ad eos praesentium aperiam, maiores sed aliquam repudiandae. Ullam, atque doloremque perspiciatis dolor quia. Distinctio, illo. Quasi blanditiis ipsam eaque, harum.</p>
        </div>

        <div class=" detail__info--rules">
          <h3>Rules</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit ad eos praesentium aperiam, maiores sed aliquam repudiandae. Ullam, atque doloremque perspiciatis dolor quia. Distinctio, illo. Quasi blanditiis ipsam eaque, harum.</p>
        </div>

        <div class="detail__info--perks">
          <h3>Perks</h3>
          <ul>
            <li>Backline</li>
            <li>Backline</li>
            <li>Backline</li>
            <li>Backline</li>
          </ul>
        </div>
      </div>

      {{!-- Schedule --}}
      <div class="detail__schedule">
        <div class="form date-form">
          <h2 class="form__heading">Book it for $25/hr</h2>

          <form>
            <label for="date">Date</label>
            <p class="form__control">
              {{input name="date" class="form__control date__control" type="date"}}
            </p>

            <p class="form__control">
              {{input name="time" type="checkbox" class="date-form__time"}}
              <label for="time">7:00pm</label>
            </p>
            <p class="form__control">
              {{input name="time" type="checkbox" class="date-form__time"}}
              <label for="time">7:00pm</label>
            </p>
            <p class="form__control">
              {{input name="time" type="checkbox" class="date-form__time"}}
              <label for="time">7:00pm</label>
            </p>
            <p class="form__control">
              {{input name="time" type="checkbox" class="date-form__time"}}
              <label for="time">7:00pm</label>
            </p>
            <p class="form__control">
              {{input name="time" type="checkbox" class="date-form__time"}}
              <label for="time">7:00pm</label>
            </p>

            <button type="submit">Book It!</button>
          </form>
        </div>


      </div>

    </div>


  </div>
</div>
