{{!-- REHEARSAL SPACE DETAIL ROUTE --}}
{{!-- Hero / Slider --}}
<div class="section section--hero slider">
  {{#carousel-container transitionInterval=400}}
    {{#carousel-body}}
      {{#carousel-item}}
        <img class="slider__image" src="http://www.placecera.com/500/500">
      {{/carousel-item}}
      {{#carousel-item}}
        <img class="slider__image" src="http://www.placecage.com/500/500">
      {{/carousel-item}}
      {{#carousel-item}}
        <img class="slider__image" src="http://www.sir-usa.com/location/los-angeles/photos-stage-5/5.jpg">
      {{/carousel-item}}
    {{/carousel-body}}

    {{#carousel-arrow class="control control-left" direction="left" tag="div" }}
      <div class="control__icon control__icon--left">{{fa-icon "arrow-left" tagName="span"}}</div>
    {{/carousel-arrow}}

    {{#carousel-arrow class="control control-right" direction="right" tagName="div" }}
      <div class="control__icon control__icon--right">{{fa-icon "arrow-right" tagName="span"}}</div>
    {{/carousel-arrow}}

  {{/carousel-container}}
</div>

{{!-- Detail --}}
<div class="section">
  <div class="container">

    <div class="detail">
      {{!-- Info --}}
      <div class="detail__info">
        <div class="detail__info--heading">
          <h2>{{model.name}}</h2>
          <h4>{{model.location}}</h4>
        </div>

        <div class="detail__info--item">
          <h3>The Space</h3>
          <p>{{model.description}}</p>
        </div>

        <div class="detail__info--item">
          <h3>Equipment</h3>
          <ul class="perks-list">
            {{#each model.availableEquipment as |item|}}
              <li class="perks-list__item">{{item}}</li>
            {{/each}}
          </ul>
        </div>

        <div class="detail__info--item">
          <h3>Amenities</h3>
          <ul class="perks-list">
            {{#each model.amenities as |item|}}
              <li class="perks-list__item">{{item}}</li>
            {{/each}}
          </ul>
        </div>

        <div class="detail__info--item">
          <h3>Rules</h3>
          <p>{{model.rules}}</p>
        </div>

        <div class="detail__info--item">
          <h3>The Host</h3>
          <ul class="perks-list">
            <li class="perks-list__item">{{model.spaceHostName}}</li>
            <li class="perks-list__item">
              Email: <a href="mailto:{{model.hostEmail}}">{{model.hostEmail}}</a>
            </li>
            <li class="perks-list__item">
              Phone: <a href="tel:{{model.hostPhone}}">{{model.hostPhone}}</a>
            </li>
          </ul>
        </div>

      </div>

      {{!-- Schedule --}}
      <div class="detail__schedule">
        <form class="form date-form">
          <h2 class="form__heading form__heading--left">Book it for ${{model.costPerHour}}/hr</h2>
          <p class="form__control">
            {{input name="date" class="form__control date__control" type="date"}}
          </p>


          <p class="form__control">
            <label class="date-form__label" for="time">
              {{input name="time" type="checkbox" class="date-form__time"}}
              <span>7:00pm</span>
            </label>
          </p>
          <p class="form__control">
            <label class="date-form__label" for="time">
              {{input name="time" type="checkbox" class="date-form__time"}}
              <span>7:00pm</span>
            </label>
          </p>
          <p class="form__control">
            <label class="date-form__label" for="time">
              {{input name="time" type="checkbox" class="date-form__time"}}
              <span>7:00pm</span>
            </label>
          </p>
          <p class="form__control">
            <label class="date-form__label" for="time">
              {{input name="time" type="checkbox" class="date-form__time"}}
              <span>7:00pm</span>
            </label>
          </p>
          <p class="form__control">
            <label class="date-form__label" for="time">
              {{input name="time" type="checkbox" class="date-form__time"}}
              <span>7:00pm</span>
            </label>
          </p>

          <button class="btn btn--submit btn--is-full-width" type="submit">Book It!</button>
        </form>
      </div>
    </div>
  </div>
</div>
