{{!-- REHEARSAL SPACE DETAIL ROUTE --}}
{{!-- Hero / Slider --}}
<div class="section section--hero">
  <div class="container">
    <div class="hero slider">
      {{!-- This is gonna be an image carousel or something slidey with different pics! --}}
    </div>
  </div>
</div>

{{!-- Detail --}}
<div class="section">
  <div class="container">

    <div class="detail">
      {{!-- Info --}}
      <div class="detail__info">
        <div class="detail__info--heading">
          <h2></h2>
          <h4>Area - Location</h4>
        </div>

        <div class="detail__info--space">
          <h3>The Space</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit ad eos praesentium aperiam, maiores sed aliquam repudiandae. Ullam, atque doloremque perspiciatis dolor quia. Distinctio, illo. Quasi blanditiis ipsam eaque, harum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit ad eos praesentium aperiam, maiores sed aliquam repudiandae. Ullam, atque doloremque perspiciatis dolor quia. Distinctio, illo. Quasi blanditiis ipsam eaque, harum.</p>
        </div>

        <div class=" detail__info--rules">
          <h3>Rules</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit ad eos praesentium aperiam, maiores sed aliquam repudiandae. Ullam, atque doloremque perspiciatis dolor quia. Distinctio, illo. Quasi blanditiis ipsam eaque, harum.</p>
        </div>

        <div class="detail__info--perks">
          <h3>Perks</h3>
          <ul class="perks-list">
            <li class="perks-list__item">Backline</li>
            <li class="perks-list__item">Backline</li>
            <li class="perks-list__item">Backline</li>
            <li class="perks-list__item">Backline</li>
          </ul>
        </div>
      </div>

      {{!-- Schedule --}}
      <div class="detail__schedule">
        <form class="form date-form">
          <h2 class="form__heading form__heading--left">Book it for $25/hr</h2>
          <p class="form__control">
            {{input name="date" class="form__control date__control" type="date"}}
          </p>


          <p class="form__control">
            <label class="date-form__label" for="time">
              {{input name="time" type="checkbox" class="date-form__time"}}
              <span>7:00pm</span>
            </label>
          </p>
          <p class="form__control">
            <label class="date-form__label" for="time">
              {{input name="time" type="checkbox" class="date-form__time"}}
              <span>7:00pm</span>
            </label>
          </p>
          <p class="form__control">
            <label class="date-form__label" for="time">
              {{input name="time" type="checkbox" class="date-form__time"}}
              <span>7:00pm</span>
            </label>
          </p>
          <p class="form__control">
            <label class="date-form__label" for="time">
              {{input name="time" type="checkbox" class="date-form__time"}}
              <span>7:00pm</span>
            </label>
          </p>
          <p class="form__control">
            <label class="date-form__label" for="time">
              {{input name="time" type="checkbox" class="date-form__time"}}
              <span>7:00pm</span>
            </label>
          </p>

          <button type="submit">Book It!</button>
        </form>
      </div>
    </div>
  </div>
</div>
