{{!-- REHEARSAL SPACE DETAIL ROUTE --}}
{{!-- Hero / Slider --}}
<div class="section section--hero">
  <div class="container">
    <div class="hero slider">
      {{!-- This is gonna be an image carousel or something slidey with different pics! --}}
    </div>
  </div>
</div>

{{!-- Detail --}}
<div class="section">
  <div class="container">

    <div class="detail">
      {{!-- Info --}}
      <div class="detail__info">
        <div class="detail__info--heading">
          <h2>{{model.name}}</h2>
          <h4>{{model.streetAddress}} {{model.city}}, {{model.state}}</h4>
        </div>

        <div class="detail__info--item">
          <h3>The Space</h3>
          <p>{{model.description}}</p>
        </div>

        <div class="detail__info--item">
          <h3>Equipment</h3>
          <ul class="perks-list">
            {{#each model.availableEquipment as |item|}}
              <li class="perks-list__item">{{item}}</li>
            {{/each}}
          </ul>
        </div>

        <div class="detail__info--item">
          <h3>Amenities</h3>
          <ul class="perks-list">
            {{#each model.amenities as |item|}}
              <li class="perks-list__item">{{item}}</li>
            {{/each}}
          </ul>
        </div>

        <div class="detail__info--item">
          <h3>Rules</h3>
          <p>{{model.rules}}</p>
        </div>

        <div class="detail__info--item">
          <h3>The Host</h3>
          <ul class="perks-list">
            <li class="perks-list__item">{{model.spaceHostName}}</li>
            <li class="perks-list__item">
              Email: <a href="mailto:{{model.hostEmail}}">{{model.hostEmail}}</a>
            </li>
            <li class="perks-list__item">
              Phone: <a href="tel:{{model.hostPhone}}">{{model.hostPhone}}</a>
            </li>
          </ul>
        </div>

      </div>

      {{!-- Schedule --}}
      <div class="detail__schedule">
        <form class="form date-form">
          <h2 class="form__heading form__heading--left">Book it for ${{model.costPerHour}}/hr</h2>

          {{#if session.isAuthenticated}}
            <p class="form__control">
              {{input name="date" value=formValues.date class="form__control date__control" type="date"}}
            </p>

            {{#if formValues.date}}
              {{#each model.availabilities as |avail|}}

                {{#if (eq avail.date formValues.date)}}
                  {{#link-to 'payment' avail.id}}
                    <button class="btn btn--avail btn--is-full-width">{{avail.startTime}} - {{avail.endTime}}</button>
                  {{/link-to}}
                {{/if}}

              {{/each}}
            {{else}}
              <p>Select a date to view available times.</p>
            {{/if}}




          {{else}}
            <div class="unAuth">
              <p>
                {{#link-to 'register' class="accent"}}Sign Up{{/link-to}}
                or
                {{#link-to 'login' class="accent"}}Login{{/link-to}}
                in to book a rehearsal space.
              </p>
            </div>
          {{/if}}
        </form>
      </div>
    </div>
  </div>
</div>
